.root{
   -fx-background-color: linear-gradient(from 200px 200px to 800px 800px, #001214, #001f29);
}

#searchTag{
-fx-text-fill: white;
-fx-font-family: calibri;
-fx-font-size: 20px;
}

#countyName{
-fx-font-size: 30px;
-fx-text-fill: white;
-fx-font-family: calibri;
}

.nameField:hover{
-fx-font-family: monospace;
}
.button{
-fx-background-radius: 10px;
-fx-background-color: white;
}

.button:hover{
-fx-background-radius: 10px;
-fx-background-color: skyBlue;

}

.message{
-fx-background-color: #0f5269;
-fx-background-radius: 5px;
}

.resultsBox{
-fx-font-size: 20px;
}